# apt install python3-click ansible

PATH_add $PWD/scripts

export ANSIBLE_CONFIG=$PWD/ansible/ansible.cfg
export ANSIBLE_INVENTORY=$PWD/ansible/inventory.yml


# Need python venv to let us run:
#   pip install python3.11-dev click pyyaml
#   pyinstaller --onefile scripts/wcwc
# In order to produce self-contained ./dist/wcwc
layout python
